AGENT_SECRET=CHANGEME
AI_ROUTER_API_KEY=CHANGEME
AI_ROUTER_ENVIRONMENT=development
AI_ROUTER_ORG_ID=5804510
AI_ROUTER_USER_ID=5981354
APP_PORT=3001
BASE_URL_QP=https://api.questionpro.com/a/api/v2
BASE_URL_QP_TAKE_SURVEY=https://reputationlabs.questionpro.com/a/api/v2
CHAT_CONTEXT_RECENT_MESSAGES=3
CHAT_CONTEXT_WINDOW=600000
CHAT_ERROR_WINDOW_TOKENS=10000
CHAT_JSON_SCHEMA_TOKENS=20000
CHAT_MAX_OUTPUT_TOKENS=50000
CHAT_MODEL_NAME=gpt-4o-mini
CHAT_PROMPT_TOKENS=20000
CLOUDFLARE_403_RETRY_DELAY_1_MS=30000
CLOUDFLARE_403_RETRY_DELAY_2_MS=60000
CLOUDFLARE_403_RETRY_DELAY_3_MS=90000
DATABASE_DEFAULT_DATABASE=synthetic_data_main_db
DATABASE_DEFAULT_HOST=postgres
DATABASE_DEFAULT_MAX_POOL_SIZE=10
DATABASE_DEFAULT_PASSWORD=CHANGEME
DATABASE_DEFAULT_PORT=5433
DATABASE_DEFAULT_USERNAME=synthetic_data_user
DEFAULT_SYNTHETIC_COMMUNITY_ID=1
DEFAULT_SYNTHETIC_IS_SYSTEM_COMMUNITY=true
DEPTH_SCORE_UPDATE_BATCH_SIZE=10
ENABLE_PAIR_RETRIEVAL=false
ENCRYPTION_KEY=CHANGEME
ENVIRONMENT=development
FILL_SURVEY_DEFAULT_API_KEY=CHANGEME
JWT_SECRET=CHANGEME
LOG_LEVEL=debug
LOG_TO_CONSOLE=true
LOG_TO_FILE=true
MAX_CONCURRENT_SURVEY_PROJECT_JOBS=2
MAX_CONCURRENT_SYNC_JOBS=2
MEMBER_VECTORIZE_TOKEN_THRESHOLD=200000
NODE_ENV=development
QP_OAUTH_CLIENT_ID=CHANGEME
QP_OAUTH_CLIENT_SECRET=CHANGEME
QUESTIONPRO_OAUTH_API_KEY=CHANGEME
QUESTIONPRO_OAUTH_CLIENT_ID=CHANGEME
QUESTIONPRO_OAUTH_CLIENT_SECRET=CHANGEME
QUESTIONPRO_OAUTH_ENCRYPTION_KEY=CHANGEME
QUESTIONPRO_OAUTH_HOST_URL=https://www.questionpro.com
QUESTIONPRO_OAUTH_SUCCESS_REDIRECT_URL=http://localhost:3000/synthetic
REDIS_HOST=redis
REDIS_PASSWORD=CHANGEME
REDIS_PORT=6379
RESYNC_CRON_SCHEDULE=0 */4 * * *
RETRY_DELAY_1_MS=10000
RETRY_DELAY_2_MS=15000
RETRY_DELAY_3_MS=20000
SESSION_COOKIE_NAME=synthetic-data-session
SESSION_SECRET=CHANGEME
SURVEY_SYNC_MAX_RESPONSES=10000
SURVEY_SYNC_MIN_QUESTIONS=10
SURVEY_SYNC_MIN_RESPONSES=1
SYNTHETIC_FREE_TIER_LIMIT=1000
